<header 
class=" bg-blue-400 w-full p-2 text-black 
 flex 
 flex-row items-center justify-between "> 
 <span class="name_project text-2xl font-sans p-2 ">
     ----Gas_Contration---
 </span>
  
    <nav  class="flex flex-row bg-none rounded-none items-center
     justify-between
     p-2 
     font-serif ">
         <a href="/real_deal/upload_file" class="bg-gray-700
          text-2xl font-sans 
          text-white ml-3 p-1 rounded-md">
        <div class="btn_upload_excel">
            <span class="upload_excel_btn">
                 Upload_Excel_file
            </span>
            </div>
        </a>
         </nav>
</header>