<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://mozilla.github.io/pdf.js/build/pdf.js"></script>
    <script src="/front_end_util/previewing_file.js"></script>
     <link rel="stylesheet" href="outcome.css">
    <title>Hope.....</title>
</head>
<body>
     <!--  for the header  -->
    <%- include('../partial_snippets/overlay.ejs') %>

    <%- include('../partial_snippets/header.ejs') %>
     <%- body %>
</body>
</html>